@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap&subset=cyrillic');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

.text-color {
  color: #fff;
}

body, html {
  overflow-x: hidden;
}

nav {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%
}

#checkbox-menu,
.toggle {
  display: none;
}

.menu {
  padding: 0;
  margin: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.menu li a {
  color: #000;
  text-decoration: none;
  align-self: center;
  font-size: 15px;
  padding: 10px 15px;
  transition: background 0.2s linear, padding .2s linear;
}

.menu li a:hover {
  background: #ffcc01;
  border-radius: 3px;
}

.menu li a.logo {
  font-size: 25px;
  margin-right: 240px;
  transition: margin .2s linear;
}

.menu li a.contacts {
  margin-right: 100px;
  transition: margin .2s linear;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

.intro {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

.intro-img {
  background-image: url(./img/luke-van-zyl-koH7IVuwRLw-unsplash.jpg);
  width: 965px;
  height: 640px;
  position: relative;
  right: 60px;
}

.intro .intro-text {
  position: relative;
  font-size: 62px;
  top: 50px;
  right: 20px;
}

.intro-contacts {
  background-color: #ffcc01;
  max-width: 765px;
  position: absolute;
  top: 638px;
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}

.intro-contacts i {
  color: #fff;
  margin-right: 30px;
}

.intro-contacts p {
  font-size: 18px;
  margin-right: 60px;
}

.stats {
  display: flex;
  margin-top: 160px;
}

.stats-num-line {
  display: flex;
}

.stats-text {
  padding: 10px;
  padding-right: 40px;
}

.stats-text h2 {
  font-size: 40px;
  margin-bottom: 70px;
}

.stats-text p {
  margin-top: 50px;
  font-size: 16px;
  line-height: 27px;
  text-align: justify;
}

.stats-num-line-square {
  width: 200px;
  height: 200px;
  background-color: #f6f5f4;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .2s linear;
}

.square-num {
  font-size: 40px;
  color: #ffcc01;
  margin-bottom: 15px;
}

.square-text {
  font-size: 20px;
}

.apartments {
  background: #f6f5f4;
  padding: 60px 10px;
}

.apart h2 {
  margin-bottom: 85px;
  font-size: 40px;
}

.card {
  max-width: 348px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0, 0.3);
  transition: box-shadow .2s linear;
  margin: auto;
}

.card-container {
  padding: 25px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.card-info .money {
  font-size: 18px;
  color: #ffcc01;
}

.card-info i {
  margin-right: 8px;
}

.card-info span:first-child {
  margin-right: 18px;
}

.card:hover {
  background: #fafaf9;
  box-shadow: 0 0 10px rgba(0,0,0, 0.8);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 30px;
}

.apart input[type=text] {
  margin-top: 50px;
  width: 300px;
  height: 70px;
  border: none;
  outline: none;
  font-size: 15px;
  color: #919eb1;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 62px;
  background-image: url(img/house.png);
  background-repeat: no-repeat;
  background-position: 27px;
}

.apart input[type=submit] {
  width: 115px;
  border: none;
  height: 70px;
  background: #ffcc01;
  font-size: 15px;
  margin-left: -4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  outline: none;
}

.all {
  width: 250px;
  height: 70px;
  border: none;
  border-radius: 4px;
  margin-left: 40px;
  margin-top: 52px;
  font-size: 15px;
  background: #fff;
  outline: none;
  transition: box-shadow .2s linear;
}

.all:hover {
  box-shadow: 0 0 5px rgba(0,0,0, 0.2);
}

.button-search {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1100px) {
  .menu li a {
    padding: 10px 10px;
  }
  
  .menu li a.logo {
    font-size: 25px;
    margin-right: 50px;
  }
  
  .menu li a.contacts {
    margin-right: 25px;
  }

  .intro {
    margin-top: 0;
    display: block;
    max-width: 100%
  }
  
  .intro .intro-text {
    position: relative;
    font-size: 52px;
    right: -30px;
    top: 25px;
  }

  .intro-img {
    position: relative;
    margin: auto;
    right: 0;
  }

  .intro .intro-contacts {
    right: 0;
    position: absolute;
  }

  .intro-contacts i {
    margin-right: 10px;
  }

  .intro-contacts p {
    font-size: 18px;
    margin-right: 10px;
  }

  .stats {
    margin-top: 150px;
    flex-direction: row;
  }

  .stats-text {
    padding: 20px;
  }
  
  .stats-text h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .stats-num {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .stats-num-line {
    justify-content: space-around;
    align-items: center;
  }

  .stats-num-line-square {
    height: 140px;
    width: 140px;
    margin: 15px;
  }

  .apartments {
    padding: 20px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }
  
  .button-search {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .all {
    margin-top: 10px;
    width: 348px;
    margin-left: 0;
  }
}

@media screen and (max-width: 765px) {
  .toggle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    width: 100%;
    color: #000;
    background: #ffcc01;
    transition: all .1s linear;
  }
  
  .toggle:hover {
    background: #d3a900;
  }

  #checkbox-menu:checked + label .touch li {
    opacity: 1;
    visibility: visible;
    transition: all .7s linear;
  }

  #checkbox-menu:checked + label .touch {
    height: 350px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0;
    transition: height .3s linear;
  }

  .menu li {
    display: flex;
    align-self: center;
    width: 95%;
    opacity: 0;
    visibility: hidden;
  }

  .menu li a {
    width: 100%;
    text-align: center;
    align-self: center;
    align-content: center;
  }

  .menu li a.logo {
    font-size: 21px;
    margin-right: 0px;
  }
  
  .menu li a.contacts {
    margin-right: 0px;
  }

  .intro {
    margin-top: 0;
    display: block;
    max-width: 100%
  }

  .intro-img {
    background-position: bottom 10px right 0px;
  }
  
  .intro .intro-text {
    position: relative;
    font-size: 35px;
    right: -30px;
    top: 25px;
  }

  .intro .intro-contacts {
    right: 0;
    top: -56px;
    padding: 20px 10px;
    position: relative;
  }

  .intro-contacts i {
    margin-right: 10px;
  }

  .intro-contacts p {
    font-size: 14px;
    margin-right: 0;
  }

  .stats {
    margin-top: 0px;
    margin-bottom: 30px;
    flex-direction: column;
  }

  .stats-text {
    padding: 10px;
  }
  
  .stats-text h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .stats-text p {
    margin-top: 5px;
    font-size: 13px;
    line-height: 20px;
  }

  .stats-num-line {
    justify-content: space-around;
    align-items: center;
    
  }

  .stats-num-line-square {
    height: 140px;
    width: 140px;
    margin: 15px;
  }

  .apartments {
    padding: 10px;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 10px;
    justify-items: center;
  }

  .apart h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .apart input[type=text] {
    margin-top: 20px;
    width: 248px;
  }

  .apart input[type=submit] {
    width: 100px;
  }

  .button-search {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .all {
    margin-top: 10px;
    width: 348px;
    margin-left: 0;
  }
}